*.ipr
*.iws
.idea
.DS_Store
.classpath
.project
.gradle
.settings
.slcache
/target
/build
/repo
/classes
/data
out
*~
grails-app/conf/DataSource.groovy
uberall_webapp.iml
uberall_webapp-grailsPlugins.iml
Uberall-grailsPlugins.iml
Uberall.iml
/logs
grails-app/conf/ehcache.xml
web-app/META-INF/context.xml
grails-app/i18n/messages.all
web-app/images/uploadrepo
*.iml
web-app/uploads/
web-app/attachments/
phantomjsdriver.log
output_yellowmap.csv
node_modules/
.tags
.tags_sorted_by_file
target-eclipse
web-app/apiDoc/restapidoc.json
*.db
scripts/tunnel/settings.mk
.asscache
*npm-debug.log
/*.png
*.css.map
*.js.map
