@import "variables";

.jesque-sidebar {
  flex: 2;
  width: $sidebar-width;
  max-width: $sidebar-max-width;
  min-width: $sidebar-min-width;
  background: $navbar-default-bg;
  min-height: 100vh;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.2em;
    list-style: none;
    li {
      display: block;
      width: 100%;
      a {
        display: block;
        text-decoration: none;
        padding: $padding-base-horizontal $padding-base-vertical;
        color: $navbar-default-link-color;
        &:hover {
          background: darken($navbar-default-bg, 20%);
          color: $navbar-default-link-hover-color;
        }
      }
      &.active {
        a {
          display: block;
          text-decoration: none;
          background: $navbar-default-link-active-bg;
          padding: $padding-base-horizontal $padding-base-vertical;
          color: $navbar-default-link-color;
          &:hover {
            background: darken($navbar-default-bg, 20%);
            color: $navbar-default-link-hover-color;
          }
        }
      }
      &.disabled {
        a {
          color: $navbar-default-link-color;
          &:hover {
            background: $navbar-default-bg;
            color: $navbar-default-link-color;
          }
        }
      }

      &.submenu {
        a {
          padding: #{$padding-base-horizontal/2} calc(#{$padding-base-vertical} * 4);
        }
      }
    }
  }
}