@import "variables";

.worker-list-container {
  .worker-list-content {
    display: flex;
    .list {
      flex: 1;
      min-width: 350px;
      transition: all ease-in-out 0.3s;
      table.table {
        table-layout: fixed;
      }
    }

    .details {
      flex: 0.0001;
      max-width: 0;
      margin-left: 5px;
      transition: all ease-in-out 0.3s;
      &.visible {
        background: lighten($jumbotron-bg, 5%);
        border: 2px solid darken($jumbotron-bg, 5%);
        border-radius: $border-radius-base;
        padding: 3px;
        flex: 2;
        max-width: 66%;
        min-width: 500px;
        transition: all ease-in-out 0.3s;
      }
    }
  }

}