$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~react-select/scss/default.scss";
@import "~sweetalert/dist/sweetalert.css";
@import "failure";
@import "sidebar";
@import "content";
@import "home";
@import "job-details";


.clickable {
  cursor: pointer;
}

.pagination {
  &.disabled {
    a {
      color: #999 !important;
      pointer-events: none;
      cursor: default;
    }
  }
  li:not(.disabled), li:not(.break) {
    a {
      cursor: pointer;
    }
  }
  li.break {
    a {
      color: $pagination-disabled-color;
      background: $pagination-disabled-bg;
      cursor: not-allowed;
    }
  }
}

.jesque-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
}

.filter-form {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .filter {
    flex: 1;
    margin-left: 3px;
    min-width: 250px;
    label {
      font-size: 1.2em;
      input {
        margin-right: 5px;
      }
    }
  }
  .filter:nth-child(first)   {
    margin-left: 0;
  }
}

tr.info.danger {
  td {
    background-color: darken($alert-danger-bg, 15%) !important;
  }
}